{% extends "headder.html" %}
{% load static %}
{% block content %}
		<!-- End: Header -->
		<!-- Start: Hero -->
		<div id="hero">
			<div class="q-container">
				<div class="box-join simple-half"">
					<h2 class="section-headline inverted"><span>Join Kerala Congress</span> കേരളാ  കോണ്‍ഗ്രസ്‌ !</h2>

					<p>"The Kerala Congress , is a recognized regional political party in the state of Kerala. It is the only regional party in the state with strong representation in Kerala Legislative Assembly."</p>
					
				</div>
			</div>
		</div>
		<!-- End: Hero -->

		<!-- Start: Calls to action -->
		<div id="home-cta">
			<div class="q-container wow animated fadeInDown" data-wow-duration="0.5s">
				<div id="box-donate" class="box box-alt simple-half">
					<h4 class="box-headline"><a href="page-donate.htm">Donate Today!</a></h4>
					<p><a href="page-donate.htm">Support the cause and let’s make our dream come true!</a></p>
				</div>
				<div id="box-volunteer" class="box box-alt simple-half">
					<h4 class="box-headline"><a href="page-volunteer.htm">കേരള യാത്ര </a></h4>
					<p><a href="page-volunteer.htm">Latest Updates</a></p>
				</div>
			</div>
		</div>
		<!-- End: Calls to action -->

		<!-- Start: Main -->
		<main id="main">
			<!-- Start: Article Grid -->
			<div class="section article-grid">
				<div class="q-container">
					<div class="q-row">
						<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="100" data-wow-duration="1s">
							<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.htm#demo-tabs-hor1">Better <span>Jobs</span></a></h3></div>
							<div class="article-summary">
								<div class="article-image"><a href="page-wide.htm#demo-tabs-hor1"><img src="{%  static "assets/img/pic-jobs.jpg" %}" alt="Better Jobs"></a></div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
								<p><a href="page-wide.htm#demo-tabs-hor1" class="button">Find Out More</a></p>
							</div>
						</article>
						<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="200" data-wow-duration="1s">
							<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.htm#demo-tabs-hor2">Better <span>Health</span></a></h3></div>
							<div class="article-summary">
								<div class="article-image"><a href="page-wide.htm#demo-tabs-hor2"><img src="{%static "assets/img/pic-health.jpg" %}" alt="Better Health"></a></div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
								<p><a href="page-wide.htm#demo-tabs-hor2" class="button">Find Out More</a></p>
							</div>
						</article>
						<article class="q-col-1-3 wow animated fadeInUp" data-wow-offset="300" data-wow-duration="1s">
							<div class="article-headline"><h3 class="sub-headline deco-headline"><a href="page-wide.htm#demo-tabs-hor3">Better <span>Education</span></a></h3></div>
							<div class="article-summary">
								<div class="article-image"><a href="page-wide.htm#demo-tabs-hor3"><img src="{%static "assets/img/pic-education.jpg" %}" alt="Better Education"></a></div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
								<p><a href="page-wide.htm#demo-tabs-hor3" class="button">Find Out More</a></p>
							</div>
						</article>
					</div>
				</div>
			</div>
			<!-- End: Article Grid -->

			<!-- Start: Social Updates -->
			<div class="section social-updates">
				<div class="q-container">
					<div class="q-row">
						<div class="q-col-1-3">
							<h2 class="section-headline wow animated fadeInLeft" data-wow-offset="100" data-wow-duration="0.5s"><span>The Kerala Congress in</span>Social Media</h2>
							<ul class="social-profiles">
								<li><a href="index_4.htm#" class="social-button social-facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="index_4.htm#" class="social-button social-twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
						<div class="q-col-2-3 wow animated fadeInUp" data-wow-duration="0.5s" data-wow-offset="200">
							<div id="social-slider" class="simple-slider">
								<div class="simple-slide">
									<div class="social-update" style="font-size:18px" ><br><br>സ്വദേശ ടയ൪ നി൪മാണ കമ്പനികൾക്ക് ഇന്തൃ൯ റബ്ബ൪ ക൪ഷകരുടെ റബ്ബ൪ വേണ്ടങ്കിൽ അവരുടെ ടയറും വേണ്ടാന്ന് വയ്ക്കും. <a href="index_4.htm#"></a></div>
									<p class="social-update-info"><a href="index_4.htm#">1 day ago</a> on Twitter via <a href="index_4.htm#">@pcthomasofficial</a></p>
								</div>
								<div class="simple-slide">
									<div class="social-update" style="font-size:18px" ><br><br>കോഴ വിവാദത്തിൽപ്പെട്ട മന്ത്രി കുറ്റക്കാരനല്ലാ എന്ന് മു൯കൂ൪ വിധിക്കുകയും, അഴിമതി ആരോപണം മറ്റൊരു മന്ത്രാലയത്തിന് എതിരായി നിയമസഭയിൽ ഉന്നയിച്ചതിന് മു൯ മന്ത്രിയെ നിയമസഭാകക്ഷി യോഗത്തിൽ നിന്ന് മാറ്റി നി൪ത്തുകയും ചെയ്യുന്ന സ൪ക്കാരാണ് കേരളം ഭരിക്കുന്നത് .</div>
									<p class="social-update-info"><a href="index_4.htm#">1 day ago</a> on Twitter via <a href="index_4.htm#">@pcthomasofficial</a></p>
								</div>
								<div class="simple-slide">
									<div class="social-update" style="font-size:18px" ><br><br>മന്ത്റിമാരുടേയും രാഷ്ട്റീയ നേതാക്ക൯മാരുടെയും അനധിക്റത സ്വതത് സമ്പാദനത്തെ കുറിച്ച് അന്വേഷിക്കുന്ന സ്ഥിരമായ മോനിടോറിഗ് ഏജ൯സി രൂപീകരിക്കാ൯ പാ൪ലമെ൯റിൽ നിയമ നി൪മമാണം നടത്തണം .</div>
									<p class="social-update-info"><a href="index_4.htm#">1 day ago</a> on Twitter via <a href="index_4.htm#">@pcthomasofficial</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End: Social Updates -->

			<!-- Start: News -->
			<div class="section section-alt home-news">
				<div class="q-container">
					<div class="q-row">
						<div class="q-col-1-3">
							<h2 class="section-headline wow animated fadeInLeft" data-wow-offset="100" data-wow-duration="0.5s"><span>History of Kerala Congress</span>പി. ടി. ചാക്കോ  </h2>
						</div>
						<div class="q-col-1-3 wow animated zoomIn" data-wow-duration="0.5s" data-wow-offset="200">
							<h3 class="sub-headline"><span>കേരള യാത്ര വാർത്തകൾ </span></h3>

							<div class="headline-list">
								<ul>
									<li>
										<h4><a href="page-blog-post.htm">Duis autem vel eum iriure dolor in hend rerit in vulputate velit esse</a></h4>
										<div class="info"><i class="fa fa-clock-o"></i> Jul 4th, 2014 in <a href="page-blog.htm">കേരള യാത്ര വാർത്തകൾ</a></div>
									</li>
									<li>
										<h4><a href="page-blog-post.htm">Nam liber tempor cum soluta nobis elei fend option congue nihil</a></h4>
										<div class="info"><i class="fa fa-clock-o"></i> Jul 1st, 2014 in <a href="page-blog.htm">Kerala Congress's Blog</a></div>
									</li>
									<li>
										<h4><a href="page-blog-post.htm">Eodem modo typi, qui nunc nobis videntur parum claritas</a></h4>
										<div class="info"><i class="fa fa-clock-o"></i> Jun 26th, 2014 in <a href="page-blog.htm">കേരള യാത്ര വാർത്തകൾ</a></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="q-col-1-3 wow animated zoomIn" data-wow-duration="0.5s" data-wow-offset="200">
							<h3 class="sub-headline">Follow the <span>Roadmap</span></h3>

							<p>Kerala Congress is in constant contact with the Real People. <a href="page-roadmap.htm">View the Roadmap</a></p>
							<table class="light-table events-table">
								<tr>
									<th>Location</th>
									<th class="text-right">Date</th>
								</tr>
								<tr>
									<td><a href="page-roadmap-item.htm"><strong>Khanghad</strong></a><br>Kasargod,Kerala</td>
									<td class="text-right"><strong>07.04.2015</strong><br>6:30 PM</td>
								</tr>
								<tr>
									<td><a href="page-roadmap-item.htm"><strong>മിട്ടായി തെരുവ് </strong></a><br>Calicut</td>
									<td class="text-right"><strong>08.04.2015</strong><br>6:30 PM</td>
								</tr>
								<tr>
									<td><a href="page-roadmap-item.htm"><strong>കൽപറ്റ </strong></a><br>Waynad</td>
									<td class="text-right"><strong>10.04.2015</strong><br>7:00 PM</td>
								</tr>
								<tr>
									<td><a href="page-roadmap-item.htm"><strong>കൊണ്ടോട്ടി </strong></a><br>Malappuram</td>
									<td class="text-right"><strong>11.04.2015</strong><br>8:00 PM</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- End: News -->
		</main>
		<!-- End: Main -->
{% endblock %}