<!DOCTYPE html>

<!--
NOTICE:
- - - - - -
This is a preview of the "Electoral" template by QBKL.
Using this preview or any of its part without having purchased a license previously is a violation of international copyright laws. Yes, that means stealing.
If you like this template and respect our work, we appreciate you purchasing a very affordable license before you use it.

QBKL would like to thank the authors of all the scripts that were used to make this template what it is!

http://themeforest.net/user/QBKL
http://www.qbkl.net
http://www.facebook.com/QBKLstudio
http://twitter.com/QBKL
-->

<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<!-- Loading: Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

		<title>Electoral</title>

		<!-- Loading: Normalize, Grid -->
		<link rel="stylesheet" href="assets/css/normalize.css" media="screen">
		<link rel="stylesheet" href="assets/css/grid.css" media="screen">

		<!-- Loading: Extra Stylesheets -->
		<link rel="stylesheet" href="assets/css/animate.min.css" media="screen">

		<link rel="stylesheet" href="assets/js/plugins/owl-carousel/owl.carousel.css" media="screen">
		<link rel="stylesheet" href="assets/js/plugins/owl-carousel/owl.theme.css" media="screen">
		<link rel="stylesheet" href="assets/js/plugins/owl-carousel/owl.transitions.css" media="screen">

		<link rel="stylesheet" href="assets/js/plugins/easy-responsive-tabs/easyresponsivetabs.css" media="screen">

		<link rel="stylesheet" href="assets/js/plugins/magnific-popup/jquery.magnific-popup.css" media="screen">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

		<!-- Loading: Styles -->
		<!--<link rel="stylesheet/less" href="assets/less/style.less" media="screen">-->
		<link rel="stylesheet" href="assets/css/style-3.css" media="screen">

		<!-- Loading Modenizr -->
		<script src="assets/js/modernizr.min.js"></script>

		<!--[if lt IE 9]>
		<script src="assets/js/html5.min.js"></script>
		<script src="assets/js/respond.js"></script>
		<![endif]-->
	</head>

	<body class="home">

		<!-- Start: Header -->
		<header id="header">
			<div class="q-container">
				<div id="logo">
					<a href="index.htm"><img src="assets/img/logo.png" alt=""></a>
				</div>

				<nav id="nav">
					<a href="page-contact.htm#" id="nav-toggle" title="Navigation"><i class="fa fa-bars"></i></a>
					<ul>
						<li>
							<a href="index.htm">Home <span>Welcome</span></a>
							<ul>
								<li><a href="index_2.htm">Sample Color 1</a></li>
								<li><a href="index_3.htm">Sample Color 2</a></li>
								<li><a href="index_5.htm">Sample Color 3</a></li>
								<li><a href="index_4.htm">Original Color</a></li>
							</ul>
						</li>
						<li>
							<a href="page-sidebar.htm">About Nathan <span>Mission, Vision, Results</span></a>
							<ul>
								<li><a href="page-sidebar.htm">Nathan's Story</a></li>
								<li><a href="page-wide.htm">Nathan's Vision</a>
									<ul>
										<li><a href="page-wide.htm#demo-tabs-hor1">Better Jobs</a></li>
										<li><a href="page-wide.htm#demo-tabs-hor2">Better Health</a></li>
										<li><a href="page-wide.htm#demo-tabs-hor3">Better Education</a></li>
									</ul>
								</li>
								<li><a href="page-features.htm">Template features</a></li>
							</ul>
						</li>
						<li>
							<a href="page-blog.htm">Media <span>Up to date</span></a>
							<ul>
								<li><a href="page-blog.htm">Campaign News</a></li>
								<li><a href="page-blog.htm">Nathan's Blog</a></li>
								<li>
									<a href="page-gallery.htm">Gallery</a>
									<ul>
										<li><a href="page-gallery.htm">Gallery: 3 Cols</a></li>
										<li><a href="page-gallery-4col.htm">Gallery: 4 Cols</a></li>
										<li><a href="page-gallery-item-1.htm">Item: Type 1</a></li>
										<li><a href="page-gallery-item-2.htm">Item: Type 2</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="page-roadmap.htm">Roadmap <span>Campaign Events</span></a></li>
						<li class="nav-special nav-reverse">
							<a href="page-donate.htm">Get Involved <span>Donate &amp; Volunteer</span></a>
							<ul>
								<li><a href="page-donate.htm">Donate</a></li>
								<li><a href="page-volunteer.htm">Volunteer</a></li>
								<li><a href="page-contact.htm">Contact</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- End: Header -->
		<!-- Start: Main -->
		<main id="main">
			<div class="page-header wow animated fadeInDown" data-wow-duration="0.5s">
				<div class="q-container">
					<div class="q-row">
						<div class="q-col-1-1"><h1 class="section-headline"><span>Get Involved</span> Contact Nathan</h1></div>
					</div>
				</div>
			</div>
			<div class="page-body">
				<div class="q-container">
					<div class="q-row">
						<div class="content q-col-2-3 wow animated fadeIn" data-wow-delay="0.2s" data-wow-duration="0.5s">
							<p>Have something to share, ideas, suggestions or a simple "Hello!"? Nathan would love to hear from you!</p>

							<div id="form-message"></div>

							<form id="form-contact" name="form-contact" class="note">

								<div class="q-row">
									<div class="q-col-1-2">
										<label for="name">What's your name? <span class="required">*</span></label><br>
										<input type="text" name="name" id="name" class="full-width" value="">
									</div>
									<div class="q-col-1-2">
										<label for="name">What's your e-mail? <span class="required">*</span></label><br>
										<input type="text" name="email" id="email" class="full-width" value="">
									</div>
								</div>
								<div class="q-row">
									<div class="q-col-1-1">
										<label for="name">What do you have in mind? <span class="required">*</span></label><br>
										<textarea name="message" id="message" class="full-width" rows="4"></textarea>
									</div>
								</div>
								<div class="q-row">
									<div class="q-col-1-1">
										<label for="name">What do you read below? <span class="required">*</span></label><br>
										<a href="page-contact.htm#" id="yenoh-pic-refresh" title="Click to get a new code!"></a><input type="text" name="yenoh" id="yenoh" value="">
									</div>
								</div>
								<div class="q-row">
									<div class="q-col-1-1">
										<a href="page-contact.htm#" id="submit-contact" class="button button-submit"><i class="fa fa-envelope"></i> Submit your message</a>
									</div>
								</div>
							</form>
						</div>

						<aside id="sidebar" class="q-col-1-3 wow animated fadeIn" data-wow-delay="0.4s" data-wow-duration="0.5s">
							<div class="widget box box-alt">
								<h4 class="box-headline"><a href="page-contact.htm#">Donate Today!</a></h4>
								<p><a href="page-contact.htm#">Support the cause and let’s make our dream come true!</a></p>
								<p><a href="page-contact.htm#" class="button">I want to donate!</a></p>
							</div>
							<div class="widget box box-alt">
								<h4 class="box-headline"><a href="page-contact.htm#">Join the Voluteers!</a></h4>
								<p><a href="page-contact.htm#">Every helping hand counts. We stand together for America!</a></p>
								<p><a href="page-contact.htm#" class="button">I want to volunteer!</a></p>
							</div>
							<div class="widget box box-join">
								<h4 class="box-headline"><a href="page-contact.htm#">Join Nathan's List!</a></h4>
								<p>Join me and together we can make it all possible. Join the List of proud Americans that support us!"</p>
								<form action="page-contact.htm" method="">
									<input type="email" placeholder="Your email" name="email">
									<input type="text" placeholder="Your ZIP code" name="zip">
									<button class="">I want to join</button>
								</form>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</main>
		<!-- End: Main -->



		<!-- Start: Footer -->
		<footer id="footer">
			<div class="q-container">
				<div class="q-row">
					<div class="q-col-2-3">
						<nav id="nav-footer-primary">
							<ul>
								<li><a href="index.htm">Home</a></li>
								<li><a href="page-sidebar.htm">About Nathan</a></li>
								<li><a href="page-roadmap.htm">Roadmap</a></li>
								<li><a href="page-blog.htm">Media</a></li>
							</ul>
						</nav>
						<nav id="nav-footer-secondary">
							<ul>
								<li><a href="page-contact.htm">Contact</a></li>
								<li><a href="page-features.htm">Terms &amp; Conditions</a></li>
								<li><a href="page-features.htm">Privacy Policy</a></li>
							</ul>
						</nav>
						<p class="footer-info">Paid For By The Nathan McMillan For Us Senate Committee</p>
					</div>
					<div class="q-col-1-3">
						<a href="page-contact.htm#" class="footer-logo"><img src="assets/img/logo-footer.png" alt=""></a>

						<ul class="social-profiles">
							<li><a href="page-contact.htm#" class="social-button social-facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="page-contact.htm#" class="social-button social-twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<!--
							<li><a href="#" class="social-button social-google" title="Google+"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="social-button social-foursquare" title="Foursquare"><i class="fa fa-foursquare"></i></a></li>
							<li><a href="#" class="social-button social-linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" class="social-button social-pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" class="social-button social-instagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="social-button social-flickr" title="Flickr"><i class="fa fa-flickr"></i></a></li>
							<li><a href="#" class="social-button social-youtube" title="YouTube"><i class="fa fa-youtube-play"></i></a></li>
							<li><a href="#" class="social-button social-vimeo" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li>
							-->
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- End: Footer -->

		<!-- Loading: jQuery and jQUery UI-->
		<script src="assets/js/jquery-1.11.1.min.js"></script>
		<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
		<Script src="assets/js/jquery-ui.min.js"></script>

		<!-- Loading: Google Maps API-->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVILsE_q8MXQDljo45Cy2nUjb3LPuja_c"></script>

		<!-- Loading: Additional Scripts and Plugins -->
		<script src="assets/js/less-1.7.3.min.js"></script>
		<script src="assets/js/plugins/jquery.hoverintent.min.js"></script>
		<script src="assets/js/plugins/jquery.superfish.min.js"></script>
		<script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script src="assets/js/plugins/easy-responsive-tabs/easyresponsivetabs.js"></script>
		<script src="assets/js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/plugins/jquery.mixitup.min.js"></script>
		<script src="assets/js/plugins/jquery.fitvids.js"></script>
		<script src="assets/js/plugins/jquery.mousewheel.min.js"></script>
		<script src="assets/js/plugins/jquery.simplr.smoothscroll.min.js"></script>
		<script src="assets/js/plugins/wow.min.js"></script>

		<!-- Loading: Forms and Form Validation -->
		<script src="assets/js/plugins/jquery.form.min.js" type="text/javascript"></script>
		<script src="assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
		<script src="assets/js/custom.validation.js" type="text/javascript"></script>

		<!-- Loading: Custom Scripts -->
		<script src="assets/js/custom.electoral_2.js"></script>

		<!-- Start: StatCounter Code -->
		<script type="text/javascript">
		var sc_project=4147920; 
		var sc_invisible=1; 
		var sc_partition=51; 
		var sc_click_stat=1; 
		var sc_security="40840811"; 
		</script>

		<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a title="web stats" class="statcounter" href="http://www.statcounter.com/free_web_stats.html"><img class="statcounter" src="http://c.statcounter.com/4147920/0/40840811/1/" alt="web stats" /></a></div></noscript>
		<!-- End: StatCounter Code -->
	</body>
</html>